.bim-app-button{
	display:none !important;
}
.popup{
  position:absolute;
	width:300px;
	height:200px;
  z-index:1;
  background-color:rgb(255,255,255);
	left:10px;
	top:250px;
	display:none;
	overflow-x: scroll;
	overflow-y: scroll;
	border-radius: 5px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
	width:200px;
}

li {
  float: left;
}

li button{
  display: block;
  text-align: center;
  border-radius: 10px;
  padding: 14px 16px;
  text-decoration: none;
}
.iframepopup{
	display:none;
	border: 1px solid black;
	position: absolute;
	top: 40px;
	right: 5px;
	margin-top: 60px;
	padding: 5px;
	width: 40%;
	height: 50%;
	background-color:rgb(235,235,235);
	cursor:default;
	z-index:1;
	overflow-y:hidden;
	overflow-x:hidden;
	border-radius:5px;
	}
