.visops-property-div {
    background-color: #000000;
}

.visops-property-input {
    background-color: #000000;
    color: #a6d7f5;
    width: 165;
}

.visops-property-button {
    background-color: #a6d7f5;
    color: #000000;
}

body {
    font-size: 14px;
    line-height: 1.5;
    color: #2A2F34;
}
.btn, body, h1, h2, h3, h4, h5, select {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fa, body {
    -webkit-font-smoothing: antialiased;
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -webkit-appearance: button;
}

input, select {
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 4px;
}
button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input, textarea {
    font-size: 14px;
    border: 1px solid #b6b6b6;
    border-radius: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

pre code, table {
    background-color: transparent;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6jykax');
  src:  url('fonts/icomoon.eot?6jykax#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6jykax') format('truetype'),
    url('fonts/icomoon.woff?6jykax') format('woff'),
    url('fonts/icomoon.svg?6jykax#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*
    Styling for the Classification tool
*/
.classification-tool-container {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0,0,0,0);
}

.classification-tool {
    max-height: 80vh;
    overflow-y: auto;
    background: #eef0f3;
    border: 1px solid #85929d;
    font-size: 14px;
    color: rgba(0,0,0, 0.9);
    padding: 8px;
    opacity: 0.95;
}

.classification-tool-title {
    text-align: left;
    font-size: 11pt;
    text-shadow: 1px 1px 1px #000;
}

/*
    Styling for Photonavigation tool
*/
.photonavigation-tool-container {
    height: 100%;
    width: 100%;
}

.photonavigation-bimium-panel {
    width: 50%;
    height: 100%;
}

.photonavigation-image-panel {
    background: rgba(77,87,95,.85);
    width: 50%;
    height: 100%;
}

.photonavigation-image-container {
    position: absolute;
    display: inline-block;
}

.photonavigation-image-container.photonavigation-image-vertical.fit {
    width: auto;
    height: 95%;
}

.photonavigation-image-container.photonavigation-image-vertical.fullsize {
    width: 100%;
    height: 100%;
}

.photonavigation-image-container.photonavigation-image-horizontal.fit {
    width: 95%;
    height: auto;
}

.photonavigation-image-container.photonavigation-image-horizontal.fullsize {
    width: 100%;
    height: 100%;
}

.photonavigation-thumbnail-panel {
    background: rgba(77,87,95,.85);
}

.photonavigation-grid-element {   
    border: 1px solid #85929d;
    padding: 8px;
    z-index: 2;
    display: inline-block;
}
.photonavigation-grid-element:focus {
    background: #008be1;
}

.photonavigation-grid-highlight {
    position: absolute;
    background: #008be16e;
    z-index: 1;
    pointer-events: none
}

.photonavigation-grid-row {
    padding: 8px;
    height: 50px;
    width: 90%;
}

.photonavigation-grid-thumbnail {  
    width: 100px;
    height: 100px;
}

.photonavigation-tool {
    background: rgba(77,87,95,.85);
    border: 1px solid #85929d;
    color: rgba(255,255,255, 0.9);
    padding: 8px;
    display: inline-block;
}

.photonavigation-tool.photonavigation-vertical.fit {
    width: auto;
    height: 100%;
}

.photonavigation-tool.photonavigation-vertical.fullsize {
    width: 100%;
    height: 100%;
}

.photonavigation-tool.photonavigation-horizontal.fit {
    width: 100%;
    height: auto;
}

.photonavigation-tool.photonavigation-horizontal.fullsize {
    width: 100%;
    height: 100%;
}

.photonavigation-button2 {
    width: 38px;
    height:38px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.photonavigation-button2:focus {
    background: #008be1;   
}

.photonavigation-button {  
    margin: 0px;
}

.photonavigation-button:focus {
    background: #008be1;   
}

.photonavigation-setting-button {
    width: 18px;
    height:18px;
    padding: 0px;  
}

.photonavigation-setting-button:focus {
    background: #008be1;   
}

.photonavigation-canvas {
    overflow-y: hidden;
    overflow-x: hidden;
    display: inline-block;
}

.photonavigation-canvas.photonavigation-vertical.fit {
    width: auto;
    height: 100%;
}

.photonavigation-canvas.photonavigation-horizontal.fit {
    width: 100%;
    height: auto;
}

.photonavigation-thumbnail-container {
    width: 20%;
    height: 20%;
    position: absolute;
    background: rgba(0,0,0,0);
}

.photonavigation-thumbnail-canvas {
    width: 100%;
    height: 100%;
}

.photonavigation-settings-container {
    position: absolute;
    height: auto;
    width: auto;
    top: 75%;
    left: 75%;
}

.photonavigation-settings-container2 {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 30px;
    left: 7px;
}

.photonavigation-settings-photo-container {
    top: 5px;
    left: 88%;
    position: absolute;
}

.photonavigation-toggle {
    margin: 1px;
}

.photonavigation-label {
    color: rgba(255,255,255, 0.9);
    font-size: 12px;
    margin: 1px;
}

.assetAssignation-tool-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.assetAssignation-tool {
    max-height: 70vh;
    overflow-y: auto;
    background: rgba(255,255,255, 1);
    border: 1px solid #85929d;
    color: #000000;
    text-shadow: none;
    padding: 8px;
    width: 550px;
}

.assetAssignation-tool-title {
    text-align: left;
    font-size: 12pt;
    text-shadow: 1px 1px 1px #000;
}

.assetAssignation-searchField {
    background: #F5F5F5;
    display: block;
    padding: 8px;
    border: 1px solid #85929d;
    height: 120px;
}

.assetAssignation-box {
    display: inline-block;
    padding: 4px; 
}

.assetAssignation-tool-button1 {
    margin: 8px;
    float: right;
    background: rgba(255,255,255, 1);
    width: 80px;
}

.assetAssignation-tool-blueButton1 {
    margin: 8px;
    float: right;
    background: #008be1;
    width: 80px;
    color: white;
}

.assetAssignation-tool-blueButton1:disabled {
    background: darkgray;
    color: white;
}

.assetAssignation-tool-button {
    margin: 5px;
    float: right;
    background: #F5F5F5;
    width: 15%;
}

.assetAssignation-tool-createButton {
    margin-top: 8px;
    margin-bottom: 8px;
    background: #008be1;
    color: white;
    display: block;
}

.assetAssignation-tableField {
    max-height: 30vh;
    overflow-y: auto;
    background: rgba(255,255,255, 1);
    border: 1px solid #85929d;
    color: rgba(255,255,255, 0.9);
    text-shadow: 1px 1px 1px #000;
    padding: 8px;
    width: 100%;
    margin-top: 12px;
}

.assetAssignation-table {
    color: black;
    border-collapse: collapse;
    border: none;
    max-height: 40vh;
    font-size: 12px;
}

.assetAssignation-table-cell {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-shadow: none;
    width: 128px;
}

.assetAssignation-table-cell.header {
    cursor: pointer;
}

.assetAssignation-table-cell.header.gray {
    background-color: #dce0e3;
}

.assetAssignation-tr:hover {
    background-color: #dce0e3;
}

.assetAssignation-tr-gray {
    background-color: #eef0f3;
}

.assetAssignation-tool-text {
    width: 120px;
}

.assetAssignation-tool-selected {
    background-color: #e5f5fd;
}

.assetAssignation-tool-loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}

.assetAssignation-tool-previousNextField {
    width: 100%;
    display: none;
}

.assetAssignation-tool-previousNext {
    text-decoration: none;
    display: inline-block;
    padding: 4px 8px;
    float: right;
    background: #F5F5F5;
}

.assetAssignation-tool-previousNextField-show {
    display: block;
}

.assetSortUp-icon:before {
    content: "\e907";
    font-family: 'icomoon';
    float: right;
    padding-top: 4px;
    color: #677480
}

.assetSortDown-icon:before {
    content: "\e908";
    font-family: 'icomoon';
    float: right;
    padding-top: 4px;
    color: #677480
}

.assetSortDownGray-icon:before {
    content: "\e908";
    font-family: 'icomoon';
    float: right;
    color: #9ba5ae;
    padding-top: 4px;
}

.classification-tools {
    position: absolute !important;
    background: white;
    border: solid 1px solid #4d575f;
    border-radius: 3px;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
}

.classification-tools:before {
    content: "";
    width: 100%;
    height: calc(100% - 56px);
    left: 0;
    border-style: solid;
    border-width: 28px 13px 28px 0;
    border-color: transparent rgba(77,87,95,.95) transparent transparent;
    position: absolute;
    transform: translateX(-100%);
}

.classification-tools-btn svg {
    padding: 8px;
}

.classification-tools-btn:active svg {
    fill: white;
}

.classification-tools-btn.bim-active svg {
    fill: #008be1;
}

.classification-toolbar-button:first-child {
    border-radius: 3px 3px 0 0;
    border-top: none;
}

.classification-toolbar-button:last-child {
    border-radius: 0 0 3px 3px;
}

.classification-toolbar-button {
    background: linear-gradient(180deg,#f9f9f9 0,#c2c2c2 96%);
    font-size: 16px;
    text-shadow: 0 1px #fff;
    padding: 5px;
    color: black;
    height: calc(100% - 2px);
    border-top: solid 1px solid #4d575f;
}

.classification-toolbar-button:hover {
    color: #008be1;
}

.classification-toolbar-button.bim-active {
    color: #008be1;
}

.classificationSelectionTab-icon:before {
    content: "\e900";
    font-family: 'icomoon';
}

.classification-tools-icon:before {
    content: "\e901";
    font-family: 'icomoon';
}

.addClassification-tool-icon:before {
    content: "\e904";
    font-family: 'icomoon';
}

.photoNavigation-tool-icon:before {
    content: "\e909";
    font-family: 'icomoon';
}

.layout-navigator-icon:before {
    content: "\e90a";
    font-family: 'icomoon';
}

.deleteClassification-tool-icon:before {
    content: "\e903";
    font-family: 'icomoon';
}

.assignAssetClassification-tool-icon:before {
    content: "\e902";
    font-family: 'icomoon';
}

.createAsset-tool-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.createAsset-tool {
    max-height: 70vh;
    overflow-y: auto;
    background: rgba(255,255,255, 1);
    border: 1px solid #85929d;
    color: #000000;
    text-shadow: none;
    padding: 8px;
    max-width: 50vh;
}

.createAsset-tool-title {
    text-align: center;
    font-size: 12pt;
    text-shadow: 1px 1px 1px #000;
}

.createAsset-createField {
    background: #F5F5F5;
    display: block;
    padding: 8px;
}

.createAsset-tool-text {
    width: 258px;
}

.createAsset-tool-listBox {
    min-width: 256px;
}

.createAsset-box {
    padding: 2px;
}

.createAsset-tool-button {
    margin: 8px;
    float: right;
}

.createAsset-tool-button:disabled {
    background: #F5F5F5;
    color: #C3C3C3;
}

.elementProperties-Assign-box {
    text-align: center;
    padding: 4px;
    text-align: center;
}

.elementProperties-Classif-box {
    padding: 4px;
    text-align: center;
}

.elementProperties-assignButton-button {
    color: white;
    border: none;
    background-color: transparent;
    float: right;
}

.elementProperties-assignButton-button:hover {
    color: #008be1;
}

.elementProperties-assignButton-button.bim-active {
    color: #008be1;
}

.elementProperties-tool-button {
    margin: 6px;
    border: 1px solid #85929d;
    padding: 6px;
    width: 100px;
}

.edit-icon:before {
    content: "\e905";
    font-family: 'icomoon';
}

.addClassification-asset-field {
    width: 100%;
    display: inline-block;
    padding: 6px;
}

.addClassification-asset-text {
    padding: 5px;
    float: left;
    width: 90%;
    background: white;
    border: 1px solid grey;
    border-right: none;
}

.addClassification-asset-field-invalid {
    border: 2px solid red;
}

.addClassification-asset-button {
    float: right;
    width: 10%;
    padding: 5px;
    background: white;
    cursor: pointer;
    outline: none;
    border: 1px solid grey;
    border-left: none;
}

.assetlink-icon:before {
    content: "\e906";
    font-family: 'icomoon';
}

.classification-height-field {
    width: 170px;
    display: inline-block;
    padding: 6px;
}

.classification-height-text {
    padding: 5px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: white;
}

.classification-heigth-button {
    float: right;
    width: 20%;
    padding: 5px;
    background: white;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    outline: none;  
}

.classification-heigth-button:focus {
    background: #008be1;
    color: white;
}

.classification-tool-button {
    margin: 5px;
    float: right;
    width: 20%;
    background: #eef0f3;
    opacity: 0.95;
}

.classification-tool-blueButton {
    margin: 5px;
    float: right;
    width: 20%;
    background: #008be1;
    opacity: 0.95;
    color: white;
}

.classification-tool-button:focus {
    background: #008be1;
}

.application-eap {
    color: #FFD043;
    position: absolute;
    top: 0 !important;
    left: 0 ! important; 
    transform: rotate(-90deg);
}

/* Tooltip container */
.application-eap-tooltip {
    top: 0 !important;
    left: 0 ! important; 
    position: absolute;
    display: inline-block;
}

/* Tooltip text */
.application-eap-tooltip .application-eap-tooltiptext {
    visibility: hidden;
    height: 20px;
    width: 140px;
    background-color: #FFD043;
    text-align: center;
    font-family: "Open sans regular 12";
    font-size: 12px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    text-shadow: none;
}

/* Show the tooltip text when you mouse over the tooltip container */
.application-eap-tooltip:hover .application-eap-tooltiptext {
    visibility: visible;
}

.blocker {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.container-with-border {
    border: 1px solid #000000;
    background-color: #f1f5f9;
    padding: 10px;
    top: 50%;
    margin: 5px;
    height: 100%;
    height: 100%;
    position: relative;
}

.modal-window { 
    max-height: 70vh;
    overflow-y: auto;
    background: rgba(255,255,255, 1);
    border: 1px solid #85929d;
    color: #000000;
    text-shadow: none;
    padding: 8px;
    width: 550px;
}

.modal-window.center { 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-text { 
    display: block;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.modal-text.text { 
    font-size: 12px;
}

.modal-text.text.right {
    text-align: right;
}

.modal-text.title { 
    font-size: 18px;
}

.modal-text.title.center { 
    text-align: center;
}

.image-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.image-center.bing {
    width: 25%
}

.button-top-right { 
    position: absolute;
    top: 10px;
    right: 10px;
}

.cesium-viewer .cesium-widget-credits {
    position: absolute;
    bottom: 0;
    left: 0
}